<!doctype html>
<html>
    <head>
        <title>Build-a-Blog</title>
    </head>
<body>
    
    <a href="./" ><p style='display: inline;'>Home</p></a>
    <a href="./blog" ><p style='display: inline;'>All Posts</p></a>
    <a href="./newpost" ><p style='display: inline;'>New Post</p></a>
    <a href="./login" style="text-align:right"><p>login</p></a>
    <a href="./logout" style="text-align:right"><p>logout</p></a>
    {% with messages = get_flashed_messages(with_categories = True) %}
        <ul>
        {% for category, message in messages %}
            <li class = "{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>